<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <link rel="icon" href="/go/pics/favicon.jpg" type="image/jpg">
    <title>Order</title>
    <style>
        .header {
            min-width: 300px; 
        }
    </style>
</head>
<body>
    <nav class="bg-blue-500 p-4 text-white">
        <div class="flex items-center">
            <h1 class="text-3xl mr-4 w-48">Our Menus</h1>
            <div class="border-l border-white h-6 mx-4"></div>
            <div class="space-x-4">
                <a href="/signout">Sign Out</a>
                <a href="/home">Home</a>
                <a href="/profile">Profile</a>
                <a href="/order" class="bg-blue-600 text-white px-3 py-2 rounded-lg">Order</a>
                <a href="/restaurant">Restaurant</a>
                <a href="/reviews">Reviews</a>
            </div>
        </div>
    </nav>
    <h2>Food Menu:</h2>
    <ul>
        {{ range .FoodMenu }}
        <li>{{ .Name }} - ${{ .Price }}</li>
        {{ end }}
    </ul>

    <h2>Drink Menu:</h2>
    <ul>
        {{ range .DrinkMenu }}
        <li>{{ .Name }} - ${{ .Price }}</li>
        {{ end }}
    </ul>
</body>
</html>
